## **Algunos conceptos básicos**


### Variable y valor




**Variable:** nombre que hace referencia a un valor. No puede contener espacios.


**Valor:** un número o cadena (o cualquier otra cosa que se especifique posteriormente) que puede almacenarse en una variable o calcularse en una expresión.

**Sentencia:** es una porción de código que representa una orden o acción. 

- Asignación: Sentencia que asigna un valor a una variable.
 - _Ejemplo:_ edad = 17

### Métodos de los strings

In [ ]:
# (Lo que está en verde se denomina comentario, y es un segmento de información en un programa destinado a cualquiera que lea el código y que no tiene efecto sobre su ejecución. 

#En Python se escribe # al inicio de lo que no queremos que sea interpretado.)

nombre = "Juan" # Variable nombre; valor Juan


type(nombre) #Tipo de variable

In [ ]:
nombre.upper() #Convertir a todo mayúsculas

'JUAN'

In [ ]:
nombre.lower() #Convertir a todo minúsculas

'juan'

In [ ]:
edad = 24
#edad.upper() Si se lo corriera daría error, puesto que es un número

In [ ]:
nombre_completo = "Juan Gimenez"
nombre_apellido = nombre_completo.split(' ') #Dividimos en dos a partir del espacio

print(nombre_completo)
print(nombre_apellido)

type(nombre_apellido)

Juan Gimenez
['Juan', 'Gimenez']
Juan
Gimenez

str

In [ ]:
nombre_pila = nombre_apellido[0] #Tomamos sólo la primera parte
apellido = nombre_apellido[1]
print(nombre_pila)
print(apellido)

type(nombre_pila)

#nombre_apellido.split(' ')
#nombre_pila[0]

Juan
Gimenez

str

**Conversión de tipo:** Una sentencia explícita que toma un valor de un tipo y calcula el valor correspondiente de otro tipo (siempre que sea posible). 

| descripción | función | devuelve |
| :---------: | :-----: | :------: |
| Convierte en entero | int(20.9) | 30 |
| Convierte en string | str(402)  | “402” |
| Convierte en float  | float(40) | 40.0 |

In [ ]:
num = 3
num2 = 2
print(num + num2)

5

In [ ]:
num = str(num) # convierto al número en una string
num2 = 2
print(num + num2) #Da error porque sólo se puede hacer operaciones aritméticas con variables numéricas

## Funciones


**Funciones:** son instrucciones que Python reconoce y ejecuta.

Cuando son llamadas, tienen la forma _funcion()_ o _funcion(arg)_ o _funcion(arg1, arg2,...)_

Se dice que una función **_toma algo_** (argumento), y **_devuelve algo_** (puede ser ejecutar una acción -como imprimir algo- o devolver variables nuevas a partir de las existentes, por ejemplo).

Sin embargo, es posible que una función no _tome_ nada y/o que no _devuelva_ nada.

- **Funciones nativas** de Python: vienen con el lenguaje cuando lo instalás

- Uno puede **definir** sus propias **funciones**.

- Funciones de otros programadores (hay que descargarse los **módulos** que las contienen e importarlas)

**Parámetro:** Nombre que se usa dentro de una función **cuando se la define** para referirse al valor que se le pasa como argumento.

**Argumento:** Valor que se le pasa a una función **cuando se la llama**. El valor se asigna al parámetro correspondiente de la función.

In [ ]:
nombre = "Mariana"
type(nombre) #type es una función nativa de Python, nombre su argumento

len(nombre) # len es una función nativa de Python, nombre su argumento

7

In [ ]:
lista_de_nombres = ["Gerardo", "Esteban", "Florencia", "Vanesa", "Adrian"]
type(lista_de_nombres)

len(lista_de_nombres)
# ¿y si tengo un número en la lista?

5

### Definiendo funciones propias

**Definir una función**: incluir una sentencia que crea una nueva función, especificando su nombre, parámetros y las sentencias que ejecuta. No se ejecuta si la función no es llamada.

**Sentencia compuesta**: Estructura de Python que está formada por una **cabecera** y un **bloque**. La cabecera termina en dos puntos (__:__) y el bloque está **indentado** respecto de la cabecera (esto es, tiene sangría).

In [ ]:
### Definiendo funciones propias
# Definición de la función
def saludar(name): ## Parámetro: name (interno a la función)
    print("hola, "+ name)

# Llamada a la función
saludar(nombre) ## Argumento: la cadena "Juan" almacenada en la variable 'nombre'.

hola, Mariana

**flujo de ejecución:** Orden en el que se ejecutan las sentencias durante la ejecución de un programa. Python es un **lenguaje lineal**, es decir, las sentencias se ejecutan a razón de una por vez, en orden, hasta que se alcanza una llamada a una función. En ese punto se ejecutan las sentencias definidas dentro de esa función, y luego continúa con la siguiente sentencia.

**variable local:** variable definida dentro de una función. Las variables locales sólo pueden usarse dentro de su función (masuno en la definición de MasUno). 

**variable global:** variable accesible en todos los ámbitos de un programa. En reglas generales, una variable global no puede cambiar su valor adentro de una función (el nuevo valor debe asignarse a otra variable)

**valor de retorno:** Es el resultado de una función.

In [ ]:
# Definición de la función
def MasUno(numero):
    masuno = numero + 1 # ojo, sensible a las mayúsculas!
    #print(masuno)
    return masuno

MasUno(3)

#print(masuno)

#saludar(3)
#MasUno(nombre)

cuatro = MasUno(3)
MasUno(cuatro)

casa = "casa"
def vivienda(casa):
    casa = 'mi edificio'
    return casa

# Probar que se llamen igual adentro y afuera

vivienda(casa)

print(casa)

# Módulos, paquetes, librerías

**Módulo:** Archivo que contiene una colección de funciones y clases relacionadas.

**Paquete**: Módulo que agrupa otros módulos (o subpaquetes) bajo un mismo nombre.

Librería/Biblioteca: **bold text** Conjunto de funciones, módulos o paquetes que se importan en conjunto. Al instalar Python viene con una librería estándar que consiste en un conjunto de paquetes.

Se puede descargar librerías, módulos o paquetes de otros programadores, usar los de Python y/o crear propios.

Python tiene un instalador de paquetes que se llama pip. Algunos paquetes ya vienen cuando uno se instala Python; muchos otros tienen la opción de descargarse e instalarse escribiendo en la terminal de la computadora:

*pip install nombre_del_paquete* 

Para usar una función de un módulo específico, escribiremos al comienzo de nuestro programa:

import nombredelmódulo

Luego, para llamar la función, escribiremos el nombre del módulo, un punto y luego el de la función

In [ ]:
#Revisemos el ejemplo del principio
nombre = 'Fernando'
nombre.lower()

str.lower(nombre)

import re
re.sub('o','a',nombre)

print(nombre)   # qué va a imprimir? Por qué?

import re as sarasa
sarasa.sub('o','a',nombre)

# Listas por comprensión


#### ¿Qué son las listas por comprensión?

Las listas por comprensión son sentencias que realizan algún tipo de operación en cada elemento de una lista. Vamos a empezar con una simple lista de números:

Supongamos que queremos sumar 1 a cada elemento de la lista. Podríamos hacer esto de diferentes
maneras sin utilizar listas por comrensión. Podríamos utilizar un for:

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9]
nums_plus_one = []
for num in numbers:
    nums_plus_one.append(num + 1)

nums_plus_one

En cambio, con una lista por comprensión podemos resolverlo de manera más eficiente

In [ ]:
nums_plus_one = [x + 1 for x in numbers]

Vayamos al detalle de cómo esto funciona:
* num_plus_one es asignada a izquierda como una nueva variable
* Las listas por comprensión retornan una lista, y la sentencia está envuelta en corchetes: [...]
* Entre los corchetes la estructura es similar a la de un loop for:
    1. La **operación por elemento** viene primero: x+1
    2. Luego está la **variable de asignación de la iteración**: for x
    3. Por último, la **la lista de elementos sobre la cual iterar**: in numbers

Las listas por comprensión no sólo sirven para iterar sobre los elementos para aplicarles alguna operación, también se pueden aplicar condiciones. 
Supongamos que quisieramos "binarizar" una variable según si cada elemento es mayor o menor/igual que la mitad de la máxima de todos los elementos. El for para hacer esto podría ser de esta manera:

In [ ]:
n = [1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]
n_bin = []
n_max_2 = max(n) / 2
for x in n:
    if x >= n_max_2:
        n_bin.append(1)
    else:
        n_bin.append(0)

Pero esto requiere mucho código. Una lista por comprensión puede hacer lo mismo mucho más fácil:

##### 3- A "Binarizar" n de manera tal que los valores mayores o iguales a la mitad del máximo de n sean 1, los demás 0

In [ ]:
n = [1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]
n_max_2 = max(n) / 2

n_bin = [1 if x > n_max_2 else 0 for x in n]

# Introducción a Pandas

Una de las mejores opciones para trabajar con datos tabulares en Python es usar la Python Data Analysis Library (alias Pandas). La biblioteca Pandas provee estructuras de datos, genera gráficos de alta calidad con matplotlib y se integra de buena forma con otras bibliotecas que usan arrays de NumPy (la cual es otra biblioteca de Python).

Python no carga todas las bibliotecas disponibles por default. Como se vio más arriba, se tiene que usar el enunciado import en nuestro código para usar las funciones de la biblioteca. 

Pandas se suele importar con el sobrenombre **pd**

*import pandas as pd*

In [ ]:
import pandas as pd

**El DataFrame**

Un DataFrame es una estructura de datos más usada en Pandas. Permite   guardar datos de distintos tipos (como caractéres, enteros, valores de punto flotante, factores y más) en columnas. Es similar a una hoja de cálculo o una tabla de SQL o el data.frame de R. Un DataFrame siempre tiene un índice (con inicio en 0). El índice refiere a la posición de un elemento en la estructura de datos.

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

* Puede accederse a las ``Series`` individuales que forman las columnas del ``DataFrame`` de forma análoga a un diccionario, vía el nombre de la columna.

In [ ]:
data.loc[:,'area']
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

El método **iloc** se utiliza en los DataFrames para seleccionar los elementos en base a su ubicación. 

Su sintaxis es data.iloc\[ filas, columnas \], en el orden que aparecen en el objeto. Una notación familiar para los usuarios de Matlab. 

En un DataFrame cada una de las filas tiene un número que va desde 0 hasta el total de filas menos uno (la primera lleva la posición 0).

In [ ]:
#Udata[data.density > 100]

data.iloc[:3, :3]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

El método **loc** se puede usar de dos formas diferentes: seleccionar filas o columnas en base a una etiqueta o seleccionar filas o columnas en base a una condición

In [ ]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

Crear nuevas columnas a partir de las otras

In [ ]:
data['density']=data['pop']/data['area']

In [ ]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

Filtrar a partir de un va

In [ ]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121